body{
    background-image: url(bac.png);
    background-size:cover ;
    height: 80vh;
    width: 98%;

}
.attendenns{
    margin-top: 30px;
    text-transform: capitalize;
}
.attendenns-list{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
.table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
table thead tr{
    color: #fff;
    background: #d8b234;
    text-align: left;
    font-weight: bold;
}
.table th,
.table td{
    padding: 12px 15px;
}
.table tbody tr{
    border-bottom: 1px solid #ddd;
}
.table tbody tr:nth-of-type(even){
    background: #f3f3f3;
}
.table tbody tr:last-of-type{
    border-bottom: 2px solid #e2c165;
}
.table button{
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgb(219, 191, 96);
}
.table button:hover{
    background: #ddbd64;
    color: #fff;
    transition: 0.5re;
}
.btn {
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(240, 240, 245);
    border: 1px solid rgb(219, 191, 96);
    background: rgb(5, 5, 78);
    margin-top: 10px;
}
.btn:hover{
    background: #614f1e;
    color: #b3a7df;
    transition: 0.5re;
}