body{
    background-image: url(bac.png);
    background-size:cover ;
    height: 80vh;
    width: 98%;

}
.shedduling{
    margin-top: 30px;
    text-transform: capitalize;
}
.shedduling-list{
    width: 70%;
    padding: 10px;
    margin-top: 5px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
    margin-left: 250px;
}
.shedduling-list h1{
    font-size: 40px;
    text-align: center;
    color: #5432a5;
}
.table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
table thead tr{
    color: #fff;
    background: #342b85;
    text-align: left;
    font-weight: bold;
}
.table th,
.table td{
    padding: 12px 15px;
    font-size: 20px;
}
.table tbody tr{
    border-bottom: 1px solid #ddd;
}
.table tbody tr:nth-of-type(even){
    background: #f3f3f3;
}
.table tbody tr:last-of-type{
    border-bottom: 2px solid #3e287a;
}